body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
}

/* HEADER */
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.link-navigation {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.link-navigation:hover,
.link-navigation:focus {
  color: #404bbf;
}
.our-address {
  font-style: normal;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* MAIN */
/* HERO */
.hero-imamge {
  background-color: #2e2f42;
}
.hero-image-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  text-align: center;
}
.hero-image-button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
}
.hero-image-button:hover,
.hero-image-button:focus {
  background-color: #404bbf;
}
.metod-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.metod-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* OUR TEAM */
.our-team-section {
  background: #f4f4fd;
}
.our-team-title,
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.our-team-list {
  background-color: #ffffff;
}
.our-team-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-team-list-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* OUR PORTFOLIO */
.our-portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.block-logo {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
