body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
img {
  display: flex;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc(100%-40px) / 2;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.navigation {
  display: flex;
  gap: 76px;
  flex-basis: calc(100%-76px) / 2;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.navigation-list {
  display: flex;
  gap: 40px;
  flex-basis: calc(100%-80px) / 3;
}
.link-navigation {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.link-navigation:hover,
.link-navigation:focus {
  color: #404bbf;
}
.our-address {
  font-style: normal;
}
.our-address .address-list {
  display: flex;
  gap: 40px;
}
.contacts {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* MAIN */
/* HERO */
.hero-image {
  background-color: #2e2f42;
}
.hero-image-container {
  padding: 188px 472px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.hero-image-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  text-align: center;
}
.hero-image-button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 15px 26px;
  max-width: 169px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero-image-button:hover,
.hero-image-button:focus {
  background-color: #404bbf;
}
.section-first-title {
  visibility: hidden;
}
.our-metods-list {
  display: flex;
  gap: 24px;
}
.our-metods-list-block {
}
.metod-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.metod-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* OUR TEAM */
.our-team-section {
  background: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
.our-team-title,
.our-portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.team-list .list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.our-team-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-team-list-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* OUR PORTFOLIO */
.our-portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.block-logo {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
